@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

header {
  background-color: #14213d;
  margin: 0;
  display: flex;
  align-items: center;
}
body {
  margin: 0;
  background-color: #e5e5e5;
}

header h1,
h2 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
header h1 {
  color: #fca311;
  margin: 10px 0px 10px 50px;
}

header div {
  display: flex;
  margin-left: 50px;
}
.menu-element {
  display: flex;
  align-items: center;
}
.menu-element a {
  text-decoration: none;
}
.menu-element h2 {
  margin-left: 10px;
  color: #e5e5e5;
  font-weight: lighter;
}
.menu-element svg {
  fill: #e5e5e5;
}
